.container
    max-width: 1170px
    margin: 0 auto

.hero 
    height: calc(90vh - 100px)
    background: linear-gradient(180deg, rgba(18,17,17,1) 67%, rgba(18,17,17,1) 94%, rgba(20,19,19,1) 95%)
    box-shadow: inset 4px -12px 12px -14px #000000
    box-shadow: inset 0 0 10px
    min-height: 750px
    
