@import "~normalize.css/normalize.css";
@import "~antd/dist/antd.css";
html {
	white-space: wrap;
}

h2,
p {
	margin: 0;
}

span {
	white-space: wrap;
}

.ant-spin {
	display: block;
	margin-top: 50px;
}

.slick-list {
	border-radius: 25px;
	box-sizing: border-box;
	height: fit-content;
}
.anticon-search {
	color: #808080;
}
