@import "~normalize.css/normalize.css";
@import "~antd/dist/antd.css";

h2 {
	margin: 0;
}

.ant-spin {
	display: block;
	margin-top: 50px;
}

.slick-list {
	border-radius: 25px;
	box-sizing: border-box;
	height: fit-content;
}
.anticon-search {
	color: #808080;
}
